$bg:#eee;
$bg-l:#00abec;
$border-r:3px;
.select{
  text-align: left;
}
.listItem{
  width:160px;
  height:40px;
  background:$bg;
  border-radius: $border-r;
  text-align: center;
  font-size:14px;
  color:#333;
  line-height:40px;
  margin:10px 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  i{
    color:red;
    font-style: normal;
    margin-left:5px;
  }
  .menu-content{
    width:100%;
    position: absolute;
    left:0;
    top:40px;
    z-index:100;
    display: none;
    ul{
      padding:0;
      margin:0;
    }
    li{
      height:40px;
      line-height:40px;
      background:$bg;
      list-style: none;
      width: 100%;
      margin-top:0;
    }
    li:hover{
      background:$bg-l;
    }
  }
  .menu-title2:hover{
      background: $bg-l;
  }
    .menu-content.show{
      display:block;
    }
}
