.orderExmin{
  padding:0 40px;
  .goBack{
    float:left;
  }

  .orderInfoDetail{
    width:800px;
    border:1px solid #00abec;
    padding:0 20px;
    margin-top:20px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #00abec;
    .infoItem{
        border-top:1px dotted #00abec;
        padding:20px 0;
        text-align: left;
        font-size:14px;
    }
  }
  .el-row {
    min-height: 40px;
    line-height:25px;
    &:last-child {
      margin-bottom: 0;
    }
    img{
      width:100px;
      max-height:40px;
      margin-right:10px;
    }
  }
  .btnBox{
    margin-top:40px;
    text-align: center;
  }
  textarea{
    width:80%;
    height:150px;
  }
}
